@charset "utf-8";
/* CSS Document */
* {
  	box-sizing: border-box;
}

#flex-container {
  	display: flex;
  	flex-wrap: wrap;
  	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.flex-item {
  	flex: 20%;
	border: 2px solid #09C;
}

.flex-item p {
	text-align: center;	
}

span{
	font-size: 5rem;	
}

code {
	font-size: 1rem;
}

h1 {
	text-align: center;
}


@media screen and (max-width: 600px) {
  .flex-item {
  	flex: 100%;
  }
}
